matplotlib==3.7
moviepy==1.0.3
accelerate>=0.26.0
numpy==1.26.1
tikzplotlib
jpeg4py
opencv-python
lmdb
pandas
scipy
loguru
einops
timm
decord
imageio
scenedetect
SentencePiece
gradio
transformers>=4.53,<4.54
tokenizers>=0.20.0
safetensors>=0.4.3
huggingface_hub>=0.23
hydra-core
omegaconf