matplotlib==3.7
moviepy==1.0.3
accelerate>=0.26.0
numpy==1.26.1
tikzplotlib
jpeg4py
opencv-python
lmdb
pandas
scipy
loguru
einops
transformers==4.40.1
timm
decord
imageio
scenedetect
SentencePiece
gradio
bitsandbytes